<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Face Recognition</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
  <head>

    <title>File Upload</title>
  </head>
  <body>
    <div style="margin-top: 50px;" class="ui container">
    <h1 class="ui center aligned header">Face Recognition Service</h1>

    <div style="margin-top: 50px;" class="ui container">

    <form class="ui form" method="POST" action="" enctype="multipart/form-data">

          <div class="label">
            <label> Please upload an image file for face recognition. Allowed file formats are '.jpg', '.png', and '.gif'</label>
          </div>

     <div style="margin-top: 20px;" class="ui container">

      <div class="ui input">
          <p><input type="file" name="file"></p>
      </div>
 </div>
        <div style="margin-top: 20px;" class="ui container">
       <button class="ui button" type="submit">Submit</button>
</div>
    </form>
        </div>
        </div>
  </body>
</html>